@import './app.scss';

:root {
    --font: 'Inter', sans-serif;
    --body-bg: #fafafa;
    --body-bg1: #f5f5f5;
    --body-color: #444;
    --secondary-color: #adb5bd;
    --link-color: #222;
    --link-color-hover: #686869f8;
    --link-border-color: rgba(0, 0, 0, 0.25);
    --link-border-color-hover: rgba(0, 0, 0, 0.5);
    --heading-color: #333;
    --hr-color: rgba(0, 0, 0, 0.075);
    --code-color: rgba(212, 73, 80, 1);
    --code-snippet-border: rgba(0, 0, 0, 0.05);
    --blockquote-border: #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

body {
    font-family: var(--font);
    color: var(--body-color);
}

a {
    color: var(--link-color);
    border-color: var(--link-border-color);
    &:hover {
        color: var(--link-color-hover);
    }
}
